{% extends 'panel_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-info mt-5 shadow-lg">
                <div class="card-header bg-info text-white d-flex align-items-center">
                    <i class="fas fa-pencil-alt"></i>
                    <h3 class="mb-0 ml-2">Create/Edit Assessment</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                      
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
                                {{ field }}
                                
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors.0 }}
                                    </div>
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary btn-block rounded-0">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
